In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import os

## 전처리 완료된 파일 불러오기

In [45]:
hearts = pd.read_csv(os.path.join("data", "heart_rate_all_day.csv"))
steps = pd.read_csv(os.path.join("data", "step_count_all_day.csv"))

## 사용할 시간 추출
- 기상 시간 09시 15분
- 집에서 출발한 시간 11시 45분
- 690 ~ 1439번 인덱스까지 사용하는 것으로 결정

In [46]:
hearts = hearts[690:]
steps = steps[690:]

In [47]:
steps

                  Time       Step
690   2021.11.18 11:30  22.648438
691   2021.11.18 11:31  22.750000
692   2021.11.18 11:32  22.953125
693   2021.11.18 11:33  23.156250
694   2021.11.18 11:34  23.359375
...                ...        ...
1435  2021.11.18 23:55  28.750000
1436  2021.11.18 23:56  25.000000
1437  2021.11.18 23:57  17.500000
1438  2021.11.18 23:58  13.750000
1439  2021.11.18 23:59  10.000000

[750 rows x 2 columns]

In [48]:
hearts

                  Time  Hearts
690   2021.11.18 11:30    95.0
691   2021.11.18 11:31    98.0
692   2021.11.18 11:32   101.0
693   2021.11.18 11:33   104.0
694   2021.11.18 11:34    89.5
...                ...     ...
1435  2021.11.18 23:55    76.0
1436  2021.11.18 23:56    75.0
1437  2021.11.18 23:57    74.0
1438  2021.11.18 23:58    67.0
1439  2021.11.18 23:59    60.0

[750 rows x 2 columns]